#menu-bar {
    margin: 0;
    width: auto;
    background-color: #565656;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
}

#menu-bar ul {
    margin: 0;
    padding: 8px 0;
    list-style: none;
    height: auto;
}

#menu-bar li {
    display: inline;
    padding: 8px;
}

#menu-bar a {
    color: #FFF;
    padding: 10px;
    text-decoration: none;
}

#menu-bar .btn:hover {
    background-color: #ce0d1d;
    color: rgb(247, 241, 241);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}

#menu-bar .btn-active {
    background-color: #1B191B;
    color: #FFF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}