    <!--Place the common part here-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <!--Icon File-->
        <link rel="icon" href="{{ url_for('static', filename='image/dragonfly_ico.ico') }}" type="image/x-icon" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='image/dragonfly_ico.ico') }}" type="image/x-icon" />
        <link rel="apple-touch-icon"  sizes="180x180" href="{{ url_for('static', filename='image/dragonfly_ico.png') }}" type="image/png"/>

        <!--Load Static File-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}"/>

        {% block head %}
        {% endblock %}

    </head>

    <body>
        <div class="navbar">
                <a href="{{ url_for('home') }}" class="navbar-brand" id="HomePage">Home</a>
                <a href="{{ url_for('about') }}" class="navbar-item" id="AboutPage">About</a>
                <a href="{{ url_for('weather') }}" class="navbar-item" id="WeatherPage">Weather</a>
                <a href="{{ url_for('OSMmap') }}" class="navbar-item" id="OSMmap">OSM</a>
                <a href="{{ url_for('leaflet') }}" class="navbar-item" id="leafletPage">leaflet</a>
        </div>

        <!--The Main Block For Content Which Below The Bar -->
        {% block content1 %}
        {% endblock %}

        <div class="body-content">

            {% block content %}
            {% endblock %}

            <hr/>
            <footer>
                <p>© 2020 Tim Wei Chien</p>
            </footer>
        </div>
    </body>
</html>